.intro-section {
  height: 100vh;
  background-color: #74d4eb;
  background-image: linear-gradient(90deg, #74d4eb 0%, #9fcce6 50%, #043a4a 100%);
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.intro-section .groom {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.intro-section .groom p {
  font-family: 'Allura', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #043a4a;
  color: #fff;
}

.intro-section .groom img {
  width: 45%;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: rotate(-10deg);
}

.intro-section .bride {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.intro-section .bride p {
  font-family: 'Allura', sans-serif;
  font-size: 44px;
  text-shadow: 2px 2px #043a4a;
  color: #fff;
}

.intro-section .bride img {
  width: 45%;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
  transform: rotate(10deg);
}

@media only screen and (min-width: 321px) and (orientation:landscape) {
  .intro-section {
    height: 220vh;
  }

  .intro-section .groom img {
    width: 25%;
  }

  .intro-section .bride img {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1005px) and (orientation:portrait) {
  .intro-section .groom img {
    width: 40%;
  }

  .intro-section .groom p {
    font-size: 60px;
  }

  .intro-section .bride img {
    width: 40%;
  }

  .intro-section .bride p {
    font-size: 60px;
  }
}

@media only screen and (min-width: 1006px) {
  .intro-section .groom img {
    width: 18%;
  }

  .intro-section .groom p {
    font-size: 80px;
  }

  .intro-section .bride img {
    width: 18%;
  }

  .intro-section .bride p {
    font-size: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .intro-section .groom img {
    width: 15%;
  }

  .intro-section .bride img {
    width: 15%;
  }
}