.mapouter {
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mapouter iframe {
  border: 2px solid #04364A;
  margin: 0 auto;
  display: block;
}

.mapouter .header {
  font-size: 36px;
  color: #04364A;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.mapouter .header:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  left: 20%;
  top: 50%;
  position: absolute;
}

.mapouter .header:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
  right: 20%;
  top: 50%;
  position: absolute;
}

@media only screen and (max-width: 340px) {
  .mapouter .header {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px) and (orientation:landscape) {
  .mapouter {
    height: 220vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1005px) {
  .mapouter .header {
    font-size: 54px;
  }

  .mapouter .header:before {
    width: 80px;
    height: 4px;
    left: 25%;
  }

  .mapouter .header:after {
    width: 80px;
    height: 4px;
    right: 25%;
  }
}

@media only screen and (min-width: 1006px) {
  .mapouter .header {
    font-size: 58px;
  }

  .mapouter .header:before {
    width: 80px;
    height: 4px;
    left: 25%;
  }

  .mapouter .header:after {
    width: 80px;
    height: 4px;
    right: 25%;
  }
}

@media only screen and (min-width: 1280px) {
  .mapouter .header:before {
    width: 80px;
    height: 4px;
    left: 35%;
  }

  .mapouter .header:after {
    width: 80px;
    height: 4px;
    right: 35%;
  }
}